<!DOCTYPE html>

<html lang="en">

    {% include head.html %}

<body>
<!-- header -->	
	<header>
	    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="logo" alt="Adam PS logo">
    	<ul>
            <li><a href="https://twitter.com/phillipssilver">Twitter</a></li>
            <li><a href="https://github.com/Adam-PS">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/adamphillipssilver/">LinkedIn</a></li>
            <li><a href="/posts/">Posts</a></li>
	    </ul>
	</header>
<!-- main content -->
    <Main>
    {{ content }}
    </Main>
<!-- Footer -->
    {% include footer.html %}
</body>
  
</html>
